@font-face {
    font-family: "Authentic Sans";
    src: url("/fonts/AUTHENTICSans-60.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Authentic Sans";
    src: url("/fonts/AUTHENTICSans-90.otf");
    font-weight: bold;
    font-style: normal;
}

:root {
    background-color: var(--theme-color);
    font-family: "Authentic Sans", sans-serif;
    color: #FFF;
}

.mobile-view {
    display: none;
}

body {
    margin: 0;
    overflow-y: scroll;
}

.white-border {
    border: 2px solid #FFF;
}

.black-border {
    border: 2px solid var(--theme-color);
}

.fade-in {
    animation: fadeIn ease 1s;
}

.fade-in-fast {
    animation: fadeIn ease 0.2s;
}

@keyframes fadeIn {
    0% {
    	opacity: 0
    }
    100% {
    	opacity: 1
    }
}

.hover-fade-alpha, .hover-fade-opacity, .hover-fade-opacity-hidden {
    transition: all .2s ease-out;
}

.hover-fade-alpha:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.5);
}

.hover-fade-opacity:hover {
    cursor: pointer;
    opacity: 0.4;
}

.hover-fade-opacity-hidden:hover {
    cursor: pointer;
    opacity: 1;
}

.disabled {
    opacity: 0.4;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
}

.pop-up {
    background-color: black;
    color: white;
    padding: 1.25rem;
}

.pop-up-option {
    font-size: 1.5rem;
}

.nav {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    border-bottom: 2px solid #FFF;
    background-color: var(--theme-color);
}

.nav-items, .station-info-social-bar {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-item, .station-info-social-bar-item {
    display: inline;
    padding: 0.5rem;
}

.nav-item:last-child {
    margin-left: auto;
    margin-right: 0.25rem;
    display: flex;
    flex-direction: row;
    font-weight: normal;
}

.nav-link, .nav-date, .station-info-social-bar-item-text, .about-info-link-text, .about-info-special-link-text, .mobile-view-link-text {
	color: #FFF;
	background-image: none;
    text-decoration: none;
    font-size: 1.1rem;
}

.nav-link-logo, .nav-link-logo:hover {
    background: url("/images/orb/logoblackxxsmall.png");
    background-size: cover;
    width: 40px;
    height: 40px;
}

.nav-link-logo:hover {
    background-size: cover;
    width: 40px;
    height: 40px;
}

.spacer-top {
    width: 100%;
    height: calc(40px + 1rem);
}

.section {
	display: flex;
    justify-content: flex-start;
    margin: 5vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding: 0;
}

.zero-margin {
    margin: 0 auto;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.stations-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1.25rem;
    margin-bottom: 0;
    margin-right: 0;
    padding: 0;
}

.stations-list-item {
    position: relative;
    flex: 0 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-bottom: 1.25rem;
    margin-right: 1.25rem;
    padding: 1.25rem;
    box-sizing: border-box;
    max-width: calc(100% - 1.25rem);
}

.stations-list-item-logo, .stations-list-item-logo-image {
    height: 20vh;
    width: 20vh;
}

.stations-list-item-logo-play-icon, .stations-list-item-logo-stop-icon {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    margin-top: -2px;
    margin-left: -2px;
    padding: calc(5vh + 2px);
    height: 10vh;
    width: 10vh;
    color: white;
}

.stations-list-item-logo-stop-icon {
    opacity: 1;
}

.stations-list-item-logo-play-icon:hover, .stations-list-item-logo-stop-icon:hover {
    cursor: pointer;
    opacity: 1;
}

.stations-list-item-body {
	min-width: 0;
    margin-left: 1.25rem;
    display: flex;
    flex-direction: column;
}

.stations-list-item-time {
    font-size: 1rem;
}

.stations-list-item-show-title {
	display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.5rem;
    font-weight: bold;
}

.stations-list-item-station-name {
    margin-top: auto;
    font-size: 1.2rem;
}

.station-back {
    display: flex;
    justify-content: flex-end;
    font-size: 5rem;
}

.station-info {
    padding: 0 10vw 0 calc(10vw - 80px);
}

.station-info-logo, .station-info-logo-image {
    height: 40vh;
    width: 40vh;
}

.station-info-logo-play-icon, .station-info-logo-stop-icon {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    margin-top: -2px;
    margin-left: -2px;
    padding: calc(10vh + 2px);
    height: 20vh;
    width: 20vh;
    color: white;
}

.station-info-logo-stop-icon {
    opacity: 1;
}

.station-info-logo-play-icon:hover, .station-info-logo-stop-icon:hover {
    cursor: pointer;
    opacity: 1;
}

.station-info-name {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

.station-info-show-title {
    font-size: 1.5rem;
}

.station-info-description {
    margin-top: 1rem;
    font-size: 1.1rem;
}

.station-info-social-bar {
    margin-top: 0.6rem;
}

.station-info-social-bar-item {
    padding-left: 0;
    padding-right: 1rem;
}

.station-info-social-bar-item-text {
    font-size: 1.5rem;
}

.player {
    position: fixed;
    z-index: 2;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #FFF;
    background-color: var(--theme-color);
}

.player-items {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.player-item {
    display: flex;
    flex-direction: row;
    font-weight: 400;
    padding: 0.75rem;
    padding-right: 0.5rem;
}

.player-item:last-child {
    margin-left: auto;
    padding-right: 0.75rem;
}

.player-station-logo, .player-station-body, .player-play-stop {
	color: #FFF;
	background-image: none;
    text-decoration: none;
    font-size: 1.1rem;
    justify-content: center;
}

.player-station-logo-image {
    display: flex;
    height: 80px;
    width: 80px;
}

.player-station-body {
    display: flex;
    flex-direction: column;
    height: 80px
}

.player-station-body-show-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.5rem;
    font-weight: bold;
}

.player-station-body-station-name {
    font-size: 1.2rem;
}

.player-play-stop-icon {
    height: 80px;
    width: 80px;
}

.player-play-stop-icon:hover {
    cursor: pointer;
    opacity: 0.4;
}

.about-info {
    padding: 0 10vw 0 10vw;
}

.about-info-header {
    font-size: 1.5rem;
    font-weight: bold;
}

.about-info-special {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.about-info-blurb {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.about-info-links {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
    padding-left: 0;
    margin-bottom: 1rem;
}

.about-info-link {
    display: flex;
    padding-bottom: 0.5rem;
}

.about-info-link-icon {
    font-size: 1.5rem;
    padding-right: 0.6rem;
}

.about-info-link-text {
    font-size: 1.1rem;
}

.about-info-special-link-text {
    font-size: 1.2rem;
}

.about-info-image {
    width: 50vw;
}

.about-info-image-credits {
    font-size: 0.7rem;
}

.spacer-bottom {
    width: 100%;
    height: calc(80px + 2.25rem);
}

@media only screen and (min-width: 960px) {
    .stations-list-item {
		max-width: calc(50% - 1.25rem);
    }
}

@media only screen and (min-height: 540px) {
    .stations-list-item-show-title {
        -webkit-line-clamp: 3;
    }
}

@media only screen and (max-width: 750px) {
    html, body {
        overflow-y: hidden;
    }

    body {
        position: fixed;
    }

    .mobile-view {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 3;
        background-color: #000;
        padding: 3rem;
    }

    .mobile-view-logo {
        align-self: center;
        background: url("/images/orb/logoblacksmall.png");
        background-size: cover;
        width: 125px;
        height: 125px;
    }

    .mobile-view-header {
        align-self: center;
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .mobile-view-blurb {
        font-size: 1.1rem;
        margin-bottom: 0.5rem;
    }

    .mobile-view-links {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0.5rem;
        padding-left: 0;
    }

    .mobile-view-link {
        display: flex;
        padding-bottom: 0.5rem;
    }

    .mobile-view-link-icon {
        font-size: 1.5rem;
        padding-right: 0.6rem;
    }

    .mobile-view-link-text {
        font-size: 1.1rem;
    }
}